@model IEnumerable<NurserySchoolWebPortal.Data.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table id="DataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NurserySchoolId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => post.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.NurserySchoolId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.IsDeleted)
                @Html.DisplayFor(modelItem => post.DeletedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.ModifiedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@post.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
            {
    <script>
        $(document).ready(function () {
            $('#DataTable').DataTable();
        });
    </script>
}

