@model NurserySchoolWebPortal.Web.ViewModels.Teachers.TeachersViewModel

@{
    ViewData["Title"] = "Index";
    DateTime.TryParse("01.01.0001 г. 00:00:00                ", out var date);
}

<h1>Teachers List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create Teacher</a>
</p>
<table id="DataTable" class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>IsDeleted</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var teacher in this.Model.Teachers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => teacher.FirstName) @Html.DisplayFor(modelItem => teacher.LastName)
            </td>
            @if (teacher.DeletedOn == date)
            {
                <td></td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => teacher.IsDeleted)
                    @Html.DisplayFor(modelItem => teacher.DeletedOn)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => teacher.CreatedOn)
            </td>
            @if (teacher.ModifiedOn == date)
            {
                <td></td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => teacher.ModifiedOn)
                </td>
            }
            @if (!teacher.IsDeleted)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@teacher.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@teacher.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@teacher.Id">Delete</a>
                </td>
            }
        </tr>
    }
     </tbody>
 </table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#DataTable').DataTable();
        });
    </script>
}

