@using NurserySchoolWebPortal.Common
@model NurserySchoolWebPortal.Web.ViewModels.Parents.ParentPageViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/posts.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>

    <header>

        <!--Posts Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

            <!--Controls-->
            <div class="controls-top">
                <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
                <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
            </div>
            <!--/.Controls-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    @foreach (var post in this.Model.Posts)
                    {


                        <div class="col-md-3 mb-3">
                            <div class="card">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@post.Title</h5>
                                    <p class="card-text">@post.ShortContent</p>
                                    <a href="#" class="btn btn-primary">Read</a>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <!--/.First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    @foreach (var post in this.Model.Posts)
                    {
                        <div class="col-md-3 mb-3">
                            <div class="card">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--/.Second slide-->
                <!--Third slide-->
                <div class="carousel-item">
                    @foreach (var post in this.Model.Posts)
                    {
                        <div class="col-md-3 mb-3">
                            <div class="card">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--/.Third slide-->

            </div>
            <!--/.Slides-->

        </div>
        <!--/.Posts Carousel Wrapper-->

    </header>

    
    <!-- Images -->
    <hr />
    <div class="row">
        @*<div class="col-md-12">*@
        <div id="mdb-lightbox-ui"></div>
        @*@<div class="mdb-lightbox no-margin">*@
        @foreach (var image in this.Model.Images)
        {
            <figure class="media col-md-4">
                <a href=@image.Url data-size="1600x1067">
                    <img alt="picture" src=@image.Url class="img-fluid">
                </a>
            </figure>
        }
        @*</div>*@
    </div>
    @*</div>*@
    <hr />

    <!-- Images -->
    @*<partial name="_PagingPartial" model="@Model" />*@

    <script>
        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
    </script>

</body>


</html>