@model NurserySchoolWebPortal.Web.ViewModels.Menu.MenuViewModel
@{
    DateTime.TryParse("01.01.0001 г. 00:00:00                ", out var date);
}
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/blog-post.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2 class="mt-4">Седмично меню от @this.Model.DateFrom до @this.Model.DateTo</h2>
            <hr />
            <p>Posted on @Model.CreatedOn</p>
            @if (this.User.IsInRole(NurserySchoolWebPortal.Common.GlobalConstants.PrincipalRoleName))
            {
                @if (this.Model.ModifiedOn != date)
                {
                    <p>Modified on @Model.ModifiedOn</p>
                }
            }
            <hr />
            <img class="img-fluid rounded" src="https://www.dijamant.rs/wp-content/uploads/2016/06/002_proizvodi_bg_omegol-820x200.jpg" alt="image">
            @*src="https://image.shutterstock.com/image-photo/delicious-cold-meat-salad-french-260nw-406446562.jpg"*@
            <hr />
            <p class="lead font-weight-bold">Понеделник:</p>
            <p class="lead">@Model.Monday</p>
            <hr />
            <p class="lead font-weight-bold">Вторник:</p>
            <p class="lead">@Model.Tuesday</p>
            <hr />
            <p class="lead font-weight-bold">Сряда:</p>
            <p class="lead">@Model.Wednesday</p>
            <hr />
            <p class="lead font-weight-bold">Четвъртък:</p>
            <p class="lead">@Model.Thursday</p>
            <hr />
            <p class="lead font-weight-bold">Петък:</p>
            <p class="lead">@Model.Friday</p>
        </div>
    </div>
    @if (this.User.IsInRole(NurserySchoolWebPortal.Common.GlobalConstants.PrincipalRoleName))
    {
        <div>
            <a asp-controller="Menu" asp-action="Edit" asp-route-id="@this.Model.Id">Edit</a> |
            <a asp-controller="Menu" asp-action="Delete" asp-route-id="@this.Model.Id">Delete</a>
        </div>
    }
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>





