@model NurserySchoolWebPortal.Web.ViewModels.Administration.Principals.PrincipalsListViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Principals List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create Principal</a>
</p>
<table id="DataTable" class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">IsDeleted</th>
                <th scope="col">CreatedOn</th>
                <th scope="col">ModifiedOn</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in this.Model.Principals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                    @Html.DisplayFor(modelItem => item.DeletedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
</table>

@section Scripts
    {
            <script>
                $(document).ready(function () {
                    $('#DataTable').DataTable();
                });
            </script>
        }
